.footer-footer {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  color: #c9c9c9;
  align-self: stretch;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-navlink {
  color: rgb(201, 201, 201);
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    font-size: 15px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-navlink {
    font-size: 15px;
    text-align: right;
  }
}
